 .attachment-post-thumbnail,size-post-thumbnail,wp-post-image
        {
   width: 252px; height: 131px;
   border: 1px solid red;
        }
        h4
{
    text-align: center;

}
h1
{
	font-family: 'Exo 2', sans-serif;
	border-top: 2px solid #f4c716;
    border-bottom: 2px solid #f4c716;
    display: inline-block;
    padding: 1px;
    color: #4f484e;
}
a
{
    color: #333;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
}

body
{
    background-color: white;
}
